<br>
<button mat-raised-button (click)="util.notify.info('info', 'Hello worl')">info</button>
<button mat-raised-button (click)="util.notify.warn('warn', 'Hello worl')">warn</button>
<button mat-raised-button (click)="util.notify.success('success', 'Hello worl')">success</button>
<button mat-raised-button (click)="util.notify.error('error', 'Hello worl')">error</button>
<br>
<button mat-raised-button (click)="openDialog()">Open dialog</button>
<button mat-raised-button (click)="util.message.info('info', 'Hello worl')">info</button>
<button mat-raised-button (click)="util.message.warn('warn', 'Hello worl')">warn</button>
<button mat-raised-button (click)="util.message.success('success', 'Hello worl')">success</button>
<button mat-raised-button (click)="util.message.error('error', 'Hello worl')">error</button>
<hr>
<pre>
  {{data | json}}
</pre>

<mat-divider></mat-divider>

<pre>
  {{stateData | async | json}}
</pre>